<p class="d-flex align-items-center justify-content-center" style="font-size: 80px; height: 200px; ">Fan Gathering</p>

<div class="text-center" style="height: 200px; ">
<p>Fan Gatheringは、アーティスト別にコミュニティを作成できるサイトです。</p>
<p>ファン同士のコミュニケーションの場として活用でき、</p>
<p>ファンが主催しファンが参加するイベント機能や、</p>
<p>LIVEカレンダーいつどこで好きなアーティストがLIVEを開催するか一目でわかるようになります。</p>
<p>LIVE後のネタバレを防止するための機能も備えられています。</p>
</div>