<p id="notice"></p>
<div class="container">
  <div id="error_explanation">
  </div>
  <div class="row ">
    <div class="col-md-12 text-right">
    </div>
    <div class="col-md-3">
      <%= render 'public/community/side_ber', community: @community %>
    </div>
    <div class="col-md-9 ">

    </div>
  </div>
</div>